
    
    /*
    height: 150px;
    border: 1px solid black;
    background-color: indigo;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    color: black;
}

#productos{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}*/

#carrito{
    list-style: none;
}